.button {
  width: 81px;
  height: 38px;
  background: none;
  color: #f8f8f8;
  border-radius: 8px;
  border: 1px solid #f8f8f8;
  font-size: 16px;
  cursor: pointer;
}

@media screen and (max-width: 630px) {
  .button{
    width:40px;
    height:40px;
    border:none;
  }
}